.moistureStream {
  color: black;
  outline: 1px black solid;
}

.dryStyle {
  padding: 10;
  margin: 20;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  outline: 1px black solid;
}

.moistStyle {
  padding: 10;
  margin: 20;
  display: inline-block;
  background-color: aqua;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  outline: 1px black solid;
}

.wetStyle {
  padding: 10;
  margin: 20;
  display: inline-block;
  background-color: blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  outline: 1px black solid;
}