.moistureStream {
  color: black;
  outline: 1px black solid;
  height: 200px;
  width: 60%;
  padding-top: 30px;
  padding-left: 20px;
}

.dryStyle {
  padding: 10;
  // display: inline-block;
  background-color: red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

.moistStyle {
  padding: 10;
  // display: inline-block;
  background-color: yellow;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

.wetStyle {
  padding: 10;
  // display: inline-block;
  background-color: green;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

.legend {
  clear: both;
}

.status {
  margin-top: 10px;
}