.moistureStream {
  color: black;
  height: 200px;
  width: 60%;
  padding-top: 40px;
  padding-left: 25%;
}

.dryStyle {
  padding: 10;
  background-color: red;
  border: 2px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

.moistStyle {
  padding: 10;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

.wetStyle {
  padding: 10;
  background-color: green;
  border: 2px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

.legend {
  clear: both;
}

.status {
  margin-top: 10px;
}

.description {
  font-size: 20px;
  padding-bottom: 5px;
  text-decoration: underline;
}